@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
  :root {
    --background: #111111;
    --card-background: #1a1a1a;
    --text-primary: #ffffff;
    --text-secondary: #a3a3a3;
    --border-color: #2a2a2a;
  }

  body {
    @apply bg-background text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.bg-gold {
  background-color: #FFD700;
}

.bg-silver {
  background-color: #C0C0C0;
}

.bg-bronze {
  background-color: #CD7F32;
} 